body {
  margin: 10px;
  font-family: 'Figtree', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app {
  color: #000;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  background: #d3d1d169;
  color: #000;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;;
}

.top-bar img {
  height: 24px;
  margin-right: 10px;
}

.content {
  flex: 1;
  display: flex;
  padding: 20px;
  margin: 0px 0;
}

.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 0;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}


table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 97%;
  margin: 15px auto 15px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0.8rem;
  background-color: floralwhite;
}

th, td {
  border: 1px solid #ccc;
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
}

thead th {
  color: #555;
  font-weight: bold;
}

.table-container {
  flex: 1;
  min-width: 0;
  margin-left: 20px;
  margin-bottom: auto;
  justify-content: center;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
  background-color: #d3d1d150;
}

.pagination {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pagination button {
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

tr.selected {
  background-color: #bde5ff;
}

.search-input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afafaf8a;
}

.filter-select {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afafaf8a;
  margin-bottom: 35px;
}

.code-input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afafaf8a;
}

.razon-input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afafaf8a;
}

.dom-input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afafaf8a;
}

.cuit-input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afafaf8a;
}

.fetch-button{
  width: 90%;
  align-self: center;
  padding: 5px;
  margin: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #949494;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button{
  width: 90%;
  align-self: center;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 35px;
  background: #fff;
  color: #000;
  border: 1px solid #949494;
  border-radius: 4px;
  cursor: pointer;
}

.irregularidades-button {
  width: 90%;
  align-self: center;
  padding: 5px;
  margin-top: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #949494;
  border-radius: 4px;
  cursor: pointer;
}

.fetch-button:hover,
.edit-button:hover,
.irregularidades-button:hover {
  background: #000;
  color: #fff;
}

.edit-toggle {
  display:flex;
  align-items:center;
  width: 45%;
  font-size: 0.7rem;
  white-space: nowrap;
  gap: 0px;
}

.separator {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}